<%= link_to event_path(event), class: 'event-card' do %>
  <div class="card-event">
    <div class="card-img">

      <%= image_tag(event.image) if event.image %>
    </div>
    <div class="card-info">
      <strong><%= truncate(event.name, length: 65) if event.name %></strong><br>
      <%= event.location if event.location %><br>
      <%= event.date.strftime('%d.%m.%Y') if event.date %> <i class="far fa-clock"></i> <%= event.time.strftime('%H:%M') if event.time %>
      <div class="bookmark">
        <%#= social_share_button_tag("My App", :allow_sites => %w(whatsapp_app)) %>
        <i class="fas fa-paper-plane"></i>
        <i class="far fa-bookmark"></i>
      <!-- if gemerkt
      <i class="fas fa-bookmark"></i> -->
      </div>
      <!-- <i class="fas fa-map-marker-alt ml-2"></i> --> <%#= @distance %>
    </div>
  </div>
<% end %>
