<h1>Events#index</h1>
<h5 id="location"></h5>

<% if params[:format] != "1" %>
  <% @events = @events.where(category_id: params[:format]) %>
<% end %>
<% @events.each do |event| %>
  <%= link_to event_path(event), class: 'event-card' do %>
    <div class="card-event border-bottom">
      <div class="card-info">
        <strong><%= event.name %></strong><br>
        <%= event.location %><br>
        <i class="far fa-clock"></i> <%= event.time.strftime('%H:%M') %>
        <i class="fas fa-map-marker-alt ml-2"></i> <%#= @distance %>

        <%#= (Geocoder::Calculations.distance_between([event.latitude, event.longitude], [@latitude, @longitude])*100).round / 100.0 %>
      </div>
      <div class="card-img">
        <!-- problem with fb images. URL can't be used over a longer time -->
        <%= image_tag(event.image) if event.image != nil %>
      </div>
    </div>
  <% end %>
<% end %>
