<div class="navbar">
  <%= link_to :back, class: "navbar-brand" do %>
    <div class="back"><i class="fas fa-chevron-left"></i></div>
  <% end %>
  <div><h3><%#= @event.name %></h3></div>
  <div></div>
</div>

<div class="event">
  <div class="event-img">
    <div class="bookmark">
        <i class="far fa-bookmark"></i>
      <!-- if gemerkt
      <i class="fas fa-bookmark"></i> -->
    </div>
    <%= image_tag(@event.image) if @event.image != nil %>
  </div>
  <div class="show-container">
    <h1><%= @event.name %></h1>
    <%= @event.location %>
    <br>
    <%= @event.date.strftime('%d.%m.%Y') %> <i class="far fa-clock"></i> <%= @event.time.strftime('%H:%M') %>
    <br><br>
    <%= @event.description %>
    <br>
    <% if request.env['HTTP_USER_AGENT'].downcase.match(/android/) %>
      <%= link_to "http://maps.apple.com/?q=#{@event.address}" do %>
          <i class="fas fa-map-marked-alt"></i>
      <% end %>
    <% elsif request.env['HTTP_USER_AGENT'].downcase.match(/iphone/) %>
      <%= link_to "comgooglemaps://?q=#{@event.address}" do %>
        <i class="fas fa-map-marked-alt"></i>
      <% end %>
    <% else %>
      <%= link_to "http://maps.apple.com/?q=#{@event.address}", target: :_blank do %>
          <i class="fas fa-map-marked-alt"></i>
      <% end %>
      <%= link_to "whatsapp://send?text=#{request.original_url}", target: :_blank do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
      <% if @event.ticket %>
        <%= link_to "#" do %>
          <button>Ticket</button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
