<div class="navbar">
  <%= link_to :back, class: "navbar-brand" do %>
    <div class="back"><i class="fas fa-chevron-left"></i></div>
  <% end %>
  <div><h3><%#= @event.name %></h3></div>
  <div></div>
</div>

<div class="event">
  <%= image_tag(@event.image) if @event.image != nil %>
  <div class="show-container">
    <h1><%= @event.name %></h1>
    <%= @event.location %>
    <br>
    <%= @event.date.strftime('%d.%m.%Y') %> <i class="far fa-clock"></i> <%= @event.time.strftime('%H:%M') %>
    <br><br>
    <%= @event.description %>
    <br>
    <% if request.env['HTTP_USER_AGENT'].downcase.match(/android/) %>
      <%= link_to "http://maps.apple.com/?q=#{@event.address}" do %>
          <i class="fas fa-map-marked-alt"></i>
      <% end %>
    <% elsif request.env['HTTP_USER_AGENT'].downcase.match(/iphone/) %>
      <%= link_to "comgooglemaps://?q=#{@event.address}" do %>
        <i class="fas fa-map-marked-alt"></i>
      <% end %>
    <% else %>
      <%= link_to "http://maps.apple.com/?q=#{@event.address}", target: :_blank do %>
          <i class="fas fa-map-marked-alt"></i>
      <% end %>

      <% if current_user %>
        <% if @bookmarks.where(event: @event.id) != [] %>
          <% @bookmark_id = @bookmarks.where(event: @event.id).first.id %>
          <%= link_to bookmark_path(@bookmark_id), method: :delete do %>
            <i class="fas fa-bookmark"></i>
          <% end %>
        <% else %>
          <%= link_to bookmarks_path(@event), method: :post do %>
            <i class="far fa-bookmark"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="far fa-bookmark"></i>
        <% end %>
      <% end %>

      <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fas fa-paper-plane"></i></button>
      <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <%= social_share_button_tag("My App", :allow_sites => %w(whatsapp_app facebook)) %>
          </div>
        </div>
      </div>


      <% if @event.ticket %>
        <%= link_to @event.ticket do %>
          <button>Ticket</button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
